name: Check Grammar
description: Verify that what I am putting out in the world is coherent LOL.

on:
  push:
    branches:
        - main

  workflow_dispatch:

  pull_request:
    types:
        - opened
        - synchronize
        - reopened

jobs:
  grammar-check:
      runs-on: ubuntu-latest
